@use "../../../styles/breakpoints";

.area {
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;

    h3{
        padding-right: 30px;
        font-weight: bold;
        font-size: small;
    }
}

.items {
    padding-left: 15px;
    max-height: 750px;
    overflow: hidden;
    transition: max-height 250ms ease-in-out;

    display: flex;
    flex-flow: column wrap;
}

.items.collapsed {
    max-height: 0;

    .item {
        display: none;
    }
}

.categorized_item {
    display: flex;
    flex-flow: column;
}

.categories {
    padding-left: 20px;
    overflow: hidden;
    transition: max-height 500ms ease-in-out;
}

.item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
    font-size: smaller;

    label {
        cursor: pointer;
    }
}

@media (min-width: breakpoints.$break-large){
    .title {
        h3 {
            font-size: medium;
        }
    }

    .items, .categories {
        padding-left: 23px;
    }

    .item {
        font-size: small;
    }
}