@use "../../../styles/breakpoints";
@use "../../../styles/widths";
@use "../../../styles/colors";

.title {
    font-weight: bold;
    font-size: small;
    padding: 2px 37.5px 2px 0px;
}

.item {
    padding: 2px 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;

    span {
        font-size: small;

        &:hover{
            cursor: pointer;
        }
    }

    svg {
        cursor: pointer;
    }

    &:hover{
        background-color: colors.$lite;
    }
}

.popup {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    font-size: small;
    text-align: right;

    table {
        padding: 5px;
        border: 2px solid colors.$std;
        border-collapse: collapse;
        border-radius: 5px;
    }

    .label {
        padding: 5px;
        font-weight: bold;
        border: 1px solid black;
    }

    .value {
        padding: 5px;
        border: 1px solid black;
    }
}

@media (min-width: breakpoints.$break-large){
    .title {
        font-size: medium;
        padding: 5px 37.5px 5px 0px;
    }

    .item {
        span {
            font-size: medium;
        }
    }

    .popup { 
        font-size: smaller;
    }
}