@use "../../styles/breakpoints";
@use "../../styles/widths";
@use "../../styles/colors";
@use "../../styles/animations";

.arrow {
    width: widths.$s-4;
    height: widths.$s-4;
    border-radius: 50%;
    transition: rotate 250ms ease-in-out;

    path {
        fill: black;
    }
    
    &:hover{
        cursor: pointer;
        background-color: colors.$hover;

        path { 
            fill: white;
        }
    }
}

.layer_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: widths.$s-4;
    height: widths.$s-4;

    text {
        font: bold 55px sans-serif;
        fill: red;
    }

    span {
        font: bold 5pt serif;
    }

}

.load_circle {
    border: 3px solid colors.$std;
    border-top-color: colors.$active;
    border-radius: 50%;
    animation: animations.$pulse, animations.$rotate;
}

.collapse_icon, .remove_icon {
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }

    line {
        stroke: black;
        stroke-linecap: square;
        stroke-width: 7px;
    }
}

.remove_icon:hover {
    background-color: colors.$hover;

    line {
        stroke: white;
    }
}

.collapse_button {
    border-radius: 10px;
    width: widths.$s-6;
    height: widths.$s-6;

    &:hover{
        background-color: colors.$hover;

        line { stroke: white; }

        image { filter: invert(1); }
    }
    
}

@media (min-width: breakpoints.$break-large){
    .arrow, .layer_icon {
        width: widths.$s-6;
        height: widths.$s-6;
    }

    .collapse_button {
        width: widths.$s-8;
        height: widths.$s-8;
    }

    .load_circle {
        border-width: 4px;
    }
}