@import "../../styles/breakpoints";
@import "../../styles/widths";
@import "../../styles/colors";
@import "../../styles/animations";

.arrow {
    width: $s-4;
    height: $s-4;
    border-radius: 50%;
    transition: rotate 250ms ease-in-out;

    path {
        fill: black;
    }
    
    &:hover{
        cursor: pointer;
        background-color: $hover;

        path { 
            fill: white;
        }
    }
}

.layer_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: $s-4;
    height: $s-4;

    text {
        font: bold 55px sans-serif;
        fill: red;
    }

    span {
        font: bold 5pt serif;
    }
}

.load_circle {
    border: 3px solid $std;
    border-top-color: $active;
    border-radius: 50%;
    animation: $pulse, $rotate;
}

.collapse_icon {
    &:hover {
        cursor: pointer;
    }

    line {
        stroke: black;
        stroke-linecap: square;
        stroke-width: 7px;
    }
}

.collapse_button {
    border-radius: 10px;
    width: $s-6;
    height: $s-6;

    &:hover{
        background-color: $hover;

        line { stroke: white; }

        image { filter: invert(1); }
    }
    
}

@media (min-width: $break-large){
    .arrow, .layer_icon {
        width: $s-6;
        height: $s-6;
    }

    .collapse_button {
        width: $s-8;
        height: $s-8;
    }

    .load_circle {
        border-width: 4px;
    }
}