@use "../../styles/animations";

.pulse {
    animation: animations.$pulse;
}

.dots::after {
    content: '';
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: animations.$dots
}

