@import "../styles/breakpoints";
@import "../styles/widths";
@import "../styles/colors";

.map {
    position: relative;
    overflow: hidden;
    min-width: $s-80;
    min-height: $s-80;
    background-color: $gray-200;
}

.loading_map{
    width: $s-full;
    height: $s-full;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-weight: bold;
        font-size: larger;
        color: $std;
    }
}

.layer_icon {
    width: $s-4;
    height: $s-4;

    text {
        font: bold 200px sans-serif;
        fill: red;
    }
}

@media (min-width: $break-large){
    .layer_icon {
        width: $s-6;
        height: $s-6;
    }
}

