@use "../styles/breakpoints";
@use "../styles/widths";
@use "../styles/colors";

.map {
    position: relative;
    overflow: hidden;
    min-width: widths.$s-80;
    min-height: widths.$s-80;
    background-color: colors.$gray-200;
}

.loading_map{
    width: widths.$s-full;
    height: widths.$s-full;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-weight: bold;
        font-size: larger;
        color: colors.$std;
    }
}

.popup {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    font-size: small;
    text-align: right;

    table {
        padding: 5px;
        border: 2px solid colors.$std;
        border-collapse: collapse;
        border-radius: 5px;
    }

    .label {
        padding: 5px;
        font-weight: bold;
        border: 1px solid black;
    }

    .value {
        padding: 5px;
        border: 1px solid black;
    }
}



@media (min-width: breakpoints.$break-large){
   
}

