@use "../../../../styles/breakpoints";
@use "../../../../styles/widths";
@use "../../../../styles/colors";
@use "../../../../styles/animations";

.no_features {
    font-weight: bold;
    font-size: x-large;
}

.no_header {
    pointer-events: none;
}


.container {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    overflow: hidden;
}

.wrapper {
    flex:1;
    overflow: auto;

    table {
        position: relative;
        width: 100%;
        height: fit-content;
        border-collapse: collapse;
    }

    thead {
        position: sticky;
        top: 0;
        z-index: 99;
    }
}

tr.edited {
    background-color: lightgoldenrodyellow;
    color: goldenrod;
}

tr.excluded {
    background-color: lightgray;
    color: dimgray;
    opacity: 0.5;
}

tr.loading {
    animation: animations.$pulse;
}

tr.updated {
    background-color: #2e8b567c;
    color: green;
}

tr.error {
    background-color: indianred;
    color: red;
    opacity: 0.5;
}

//HEADER && ROW----------------------------------------------------------
.header, .row {
    padding: 2px 5px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    min-width: fit-content;
    font-size: x-small;
}

.header {
    background-color: colors.$std;
}

.header div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
}

//SORTER---------------------------------------------------------------
.sorter {
    padding: 0;
    width: 15px;
    height: 15px;
    border: none;
    background: transparent;
}

.sorter:hover {
    cursor: pointer;
}

.sorter svg {
    pointer-events: none;
    width: 100%;
    height: 100%;
    transition: transform 500ms linear;
}

.sorter svg line {
    stroke-width: 10;
    stroke: white;
    stroke-linecap: round;
}

.ascendent {
    transform: rotate(180deg);
}

.descendent {
    transform: rotate(0deg);
}

//BUTTON-------------------------------------------------------
.button {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 75%;
        height: 75%;
    }
}

.button:hover {
    cursor: pointer;
    background-color: colors.$hover;

    img {
        filter: invert(1);
    }

    .close_icon, .select_icon {
        line {
            stroke: white;
        }
    }
}

.button.active {
    background-color: colors.$active;
    
    img {
        filter: invert(1);
    }
}

.table_button {
    background-color: transparent;
    border: none
}

.table_button:disabled {
    cursor: not-allowed;
    background-color: lightgrey;
}

.button .close_icon {
    line {
        stroke: red;
        stroke-width: 6;
    }
}

.button .select_icon {
    stroke: black;
    stroke-width: 10;
}

.row_tools {
    display: flex;
    gap: 2px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

//FIELD-------------------------------------------------------------
.field {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

.field[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.disabled, .field:disabled {
    background-color: lightgray;
}

.field:focus {
    outline-color: colors.$active;
    background-color: #eafeea;
}

//PAGINATION----------------------------------------------------------
.pagination {
    width: 100%;
    padding: 2px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    span, input, select { font-size: small }
}

//RESPONSIVE-------------------------------------------------------------

@media (min-width: breakpoints.$break-large){
    .title {
        font-size: x-large;
    }

    .header, .row {
        font-size: medium;
        height: 30px;
    }

    .pagination {
        span, input, select { font-size:  medium}
    }

    .button {
        width: 24px;
        height: 24px;
    }

    .toolbar {
        width: 100%;
        height: 30px;
    }
}